* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}
.start-page {
  width: 80%;
  margin: 0 auto;
  height: 585px;
  background: url("../assets/images/back.png");
  background-size: contain;
  position: relative;
}
.game-title {
  font-family: "Georgia";
  color: white;
  top: 25%;
  left: 37%;
  position: absolute;
  font-size: 60px;
}
.button {
  position: absolute;
  padding: 10px;
  background-color: darkolivegreen;
  color: darkslategray;
  font-family: Arial;
  font-size: 40px;
  border-radius: 5px;
  top: 45%;
  left: 45%;
  width: 100px;
}
